# This is a basic workflow to help you get started with Actions

name: CI

on:
  release:
    types: [created]

env:
  VERSION: ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Building
        run: echo "building project...."

  deploy-develop:
    needs: build
    runs-on: ubuntu-latest
    environment: develop
    steps:
      - name: Deploy to Develop
        run: echo "deploying to develop"

  deploy-testing:
    needs: deploy-develop
    runs-on: ubuntu-latest
    environment: testing
    steps:
      - name: Deploy to Testing
        run: echo "deploying to testing"
        
  deploy-production:
    needs: deploy-testing
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Deploy to Production
        run: echo "deploying to production"
